<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite" >
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="Login Tests - Firefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="baseUrl" value="https://www.saucedemo.com/"/>
        <classes>
            <class name="my.project.Test.DashboardTest"/>
            <class name="my.project.Test.LoginTest"/>
        </classes>
    </test>
    <test name="Login Tests - Chrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="baseUrl" value="https://www.saucedemo.com/"/>
        <classes>
            <class name="my.project.Test.DashboardTest"/>
            <class name="my.project.Test.LoginTest"/>
        </classes>
    </test>
    <test name="Login Tests - Edge">
        <parameter name="browser" value="edge"/>
        <parameter name="baseUrl" value="https://www.saucedemo.com/"/>
        <classes>
            <class name="my.project.Test.DashboardTest"/>
            <class name="my.project.Test.LoginTest"/>
        </classes>
    </test>


</suite>